{{#partial "content"}}
    <div class="container-fluid introduction">
        <div class="row pl-0 pr-0 mr-0 ml-0">
            <div class="col-md-6 col-12 intro text-white">
                <h3>Help the wild have a home again</h3>
                <a href="/add/sight" class="btn btn-lg submit mt-5 p-4">Submit Sighting</a>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}